@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

.dropped .Task {
	width: 92% !important;
}

.react-multi-carousel-item {
	width: auto !important;
}
.react-multi-carousel-list button {
	background-color: #fff !important;
	border-radius: 0 !important;
}
.react-multi-carousel-list button:hover {
	background-color: #e5e7eb !important;
}
.react-multiple-carousel__arrow {
	color: #283593 !important;
	min-width: 16px !important;
	font-size: 12px !important;
}

.react-multiple-carousel__arrow--left {
	left: 0 !important;
}
.react-multiple-carousel__arrow--right {
	right: 0 !important;
}
.react-multiple-carousel__arrow::before {
	font-size: 12px !important;
	font-weight: 900 !important;
	color: #c9cde4 !important;
}
